:root {
  --primary: #08ac10;
  --secondary: #ff0000;
  --links: #6f7570;
  --vertical_margins: 2em 0;
  --horizontal_margins: 0 2em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  transition: 0.4s;
  font-weight: 600;
  color: var(--primary);
  font-size: 1rem;
}

a:hover {
  color: var(--secondary);
}

button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-weight: 600;
  outline: none;
}

hr {
  border: 0.5px dotted var(--secondary);
  margin: var(--vertical_margins);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.secondary-container {
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
}

.main_content {
  flex: 0.8;
}

/* Utilities */

.title {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  width: fit-content;
}

.btn {
  background-color: var(--primary);
 
  border: none;
  border-radius: 5px;
  padding: 1em ;
  cursor: pointer;
  font-weight: 600;
  min-width: 140px;
   color: #fff !important;
   display: flex;
   justify-content: center;
}

.btn2 {
  background-color: inherit;
  border: 1px inset var(--secondary);
  border-radius: 5px;
  padding: 1em .5em;
  color: var(--secondary);
  font-weight: 600;
  min-width: 140px;
  
}

.share_link{
  color: var(--primary);
}

.nb{
  font-weight: 800;
  color: var(--primary);
}

.flex {
  display: flex;
  align-items: center;
}

.main_input {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  padding: 0.5em;
  width: 90%;
  outline: none;
  border: 1px solid var(--links);
  border-radius: 5px;
}

.main_input:focus {
  border: 2px solid var(--primary);
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.results_display,
.announcement {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.575);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin: var(--vertical_margins);
}


.announcement p{
  line-height: unset;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
}

.results_display {
  
    border: 1px solid var(--primary);
}

.docs-menu{
  align-items: center;
}

@media (min-width: 800px) {
  body {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {

  html,
body {
    font-size: 1rem;
}

  .main_input {
    font-size: 1.3rem;
    padding: 0.5em;
    width: 70%;
    margin: auto;
  }
}


/*----- Animations -----*/

@keyframes horizontal_anim {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*----- Animations -----*/

@keyframes vertical_anim {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}