:root{
  --primary: #00FF4C;
  --secondary: #FF0000;
  --links: #6F7570;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    font-size: .8rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .4s;
  font-weight: 600;
}

a:hover {
   color: var(--secondary);
}

hr{
  border: .5px dotted var(--primary);
}

* {
  box-sizing: border-box;
}



.container{
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
}

.main_content{
  flex: .8;
}


/* Utilities */

.title{
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid var(--primary);
  padding-bottom: .5em;
  margin-bottom: 1em;
}

.btn{
  background-color: var(--primary);
  color: #fff;
  border: 1px inset;
  border-radius: 5px;
  padding: 1em;
  font-weight: 600;
  width: 150px;
}

.btn2{
  background-color: inherit;
  border: 1px inset var(--secondary);
  border-radius: 5px;
  padding: 1em;
  color: var(--secondary);
  font-weight: 600;
  width: 150px;
}

.flex{
  display: flex;
  align-items: center;
}

.main_input{
  font-size: 1.3rem;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  padding: .5em;
  width: 70%;
  outline: none;
  margin: auto;
}

.main_input:focus{
    border: 2px solid var(--primary);
}

.flex_col{
  display: flex;
  flex-direction: column;

}

@media (min-width: 800px) {
  body{
    font-size: 1rem;
  }
}

