:root{
  --primary: #00FF4C;
  --secondary: #FF0000;
  --links: #6F7570;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    font-size: .8rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: .4s;
  font-family: ;
}

a:hover {
   color: var(--primary);
}

* {
  box-sizing: border-box;
}



.container{
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1em;
}

.main_content{
  flex: .8;
}


/* Utilities */

.flex{
  display: flex;
  align-items: center;
}


.flex_col{
  display: flex;
  flex-direction: column;

}

@media (min-width: 800px) {
  body{
    font-size: 1rem;
  }
}