:root {
  --primary: #00ebc7;
  --secondary: #ff5470;
  --links: #6f757054;
  --vertical_margins: 2em 0;
  --horizontal_margins: 0 2em;
}

html,
body {
  padding: 0;
  margin: 0;

}



button {
  cursor: pointer;
  border: none;
  background-color: inherit;
  font-weight: 600;
  outline: none;
}

hr {
  border: 0.5px dotted var(--secondary);
  margin: var(--vertical_margins);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 1.5rem;
}

.secondary-container {
  max-width: 1000px;
  margin: auto;
  align-items: flex-start;
}

.main_content {
  flex: 0.8;
}


/* Utilities */

.title {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 0.5em;
  margin-bottom: 1.5em;
  width: fit-content;
}

.results_display,
.announcement {
  box-shadow: 0 0 10px  #00ebc825;
  box-shadow: 0 0 10px  rgba(128, 128, 128, 0.555);
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid var(--secondary);
  margin: var(--vertical_margins);
}

.announcement p {
  line-height: unset;
  word-spacing: 0.1em;
  letter-spacing: 0.1em;
}

.results_display {
  border: 1px solid var(--primary);
}

.docs-menu {
  align-items: center;
}

/* 
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}
 
.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
} 

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
} */



/*----- Animations -----*/

@keyframes horizontal_anim {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*----- Animations -----*/

@keyframes vertical_anim {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
